<div class="row row justify-content-md-center">
    <div class="col-md-10">
        <table class="table table-primary table-striped shadow">
            <thead>
                <tr>
                    <th scope="col">Correo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% @mis_amigos.each do |amigo| %>
                <tr>
                    <td> <%= amigo.email %> </td>
                    <td> <%= amigo.full_name %> </td>
                    <td> <%= link_to "Dejar de seguir", friendship_path(amigo), method: :delete, data: { confirm: 'Estas seguro?' } , class:'btn btn-warning'%> </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>