<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class='d-inline-block'>
      <%= render 'layouts/messages' %>  
    </div>
  </div>
</div>

<% if @stock %>
  <div class="row justify-content-md-center amarillo">
    <div class="col-md-10">
      <div class="card card-header d-inline-block" style="background-color: #FFBC42;">
        <strong>Simbolo:</strong> <%= @stock.ticker %>
        <strong>Nombre:</strong> <%= @stock.name %>
        <strong>Precio:</strong> <%= @stock.last_price %> USD
      </div>
    </div>
  </div>
<% end %>