<h1 class='mb-5 text-center mt-3 display-4 fw-bold'>Amigos</h1>

<div class="mt-5 row justify-content-md-center buscador">
  <div class="col-md-10">
    <h3>Buscar amigos</h3>  
    <%= form_tag search_friend_path,remote: true, method: :get do%>
      <div class="input-group shadow">
          <%# <input type="text" class="form-control form-control-lg" placeholder="Search Here"> %>
          <%= text_field_tag :friend, params[:friend], placeholder:'Nombre o correo; prueba escribiendo @', autofocus:true, class:'form-control form-control-lg' %>
          <button type="submit" class="input-group-text btn text-white" style="background-color: #5465FF;"><i class="bi bi-search me-2"></i>Buscar</button>
        
      </div>
    <% end %>
  </div>
</div>

<div id="amigo-resultado">

</div>

<% if !@mis_amigos.empty? %>
  <%= render 'friends/list' %>
<% else %>
  <div class="p-5 mb-4 mt-4 rounded-3 shadow text-white" style="background-color: #5465FF;">
    <div class="container-fluid py-5">
      <p class="display-5 fw-bold h1">
        ¿No tienes amigos?
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
        </svg>
      </p>
      
      <p class="col-md-8 fs-3">Eso no es problema!</p>
      <p class='fs-4'>Si no sabes el correo o el nombre de usuario de tu amigo escribe '@' en el buscador y te apareceran todos los usuarios </p>
    </div>
  </div>
<% end %>