@import "bootstrap";

body{
    background-color: #EEF8FF;
}

// .logout{
//     margin-right: 10px;
// }
.amarillo{
    margin-bottom: 24px;
}

.buscador{
    margin-bottom: 12px;
}

.nombre-usuario{
    margin-top: 3.5%;
    color: white;
    padding-right: 10px;
}

@media (max-width:991px) {
    .nombre-usuario{
        margin-top: 0%;
        margin-bottom: 10px;
    }
}